imageio==2.35.1 ; python_version >= "3.12" and python_version < "4.0"
lazy-loader==0.4 ; python_version >= "3.12" and python_version < "4.0"
networkx==3.3 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.1.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
scikit-image==0.24.0 ; python_version >= "3.12" and python_version < "4.0"
scipy==1.14.1 ; python_version >= "3.12" and python_version < "4.0"
tifffile==2024.8.30 ; python_version >= "3.12" and python_version < "4.0"
